<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INDEX | FLASK</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body class="dark-mode">
    <div class="container">
      <main>
        <h1>INDEX PAGE</h1>
        <a href="/login">Login</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/join">Join</a>
      </main>
      <div class="toggle-dark-container">
        <img
          src="../static/light.svg"
          id="toggle-dark-btn"
          alt="toggle dark button"
        />
      </div>
    </div>
    <script src="../static/js/index.js"></script>
  </body>
</html>
